.use-motion {
  .post { opacity: 0;
    margin-top: 60px; 
    margin-bottom: 60px;
    padding: 25px;
    -webkit-box-shadow: 0 0 14px rgba(202,203,203,0.5);
    -moz-box-shadow: 0 0 14px rgba(202,203,204,0.5);
   }
}

.page-archive {

  .archive-page-counter {
    position: relative;
    top: 3px;
    left: 20px;

    +mobile() {
      top: 5px;
    }
  }

  .posts-collapse {

    .archive-move-on {
      position: absolute;
      top: 11px;
      left: 0;
      margin-left: -6px;
      width: 10px;
      height: 10px;
      opacity: 0.5;
      background: $black-light;
      border: 1px solid white;

      circle();
    }
  }
}
